*{
  margin: 0;
}
section{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #011F3F;
  /* background-image: url("file:///C:/Users/sanka/Downloads/wallpaperflare.com_wallpaper.jpg"); */
}

#level-title {
  /* margin-top: 1rem; */
  padding-top: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #1F4690;
  border-radius: 20%;
}

.game-over {
  background-image: none;
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media(max-width:1024px){
  #level-title{
    text-align: center;
    justify-content: center;
  }
}
@media(max-width:600px){
  .container{
    grid-template-columns: 1fr;
  }
  #level-title{
    text-align: center;
    justify-content: center;
  }
}